.dialog:hover {
    background-color: blue;
    transition: 0.2s linear;
}

.dialog {
    cursor: pointer;
    padding: 10px;
    color: #fff;
}

.active {
    background-color: #fff;
}

.none {
    font-size: 30;
}
