.dialogs {
    font-family: 'Orelega One', cursive;
    font-family: 'Pridi', serif;
    font-size: 18px;
    display: grid;
    grid-template-columns: 4fr 8fr;
    color: #fff;
}

.messages {
    display: flex;
    align-items: center;
    justify-content: center;
}

.messagesElements {
    background-color: blue;
}

.messageButton {
    width: 40px;
    height: 40px;
    padding: 10px;
    background-color: #00008e;
}

.messageButton:hover {
    transition: 0.2s linear;
    background-color: rgba(0, 0, 125);
}

.messageTextarea {
    height: 40px;
    padding: 10px;
}
