.dialogs {
    font-family: 'Orelega One', cursive;
    font-family: 'Pridi', serif;
    font-size: 18px;
    display: grid;
    grid-template-columns: 4fr 8fr;
    color: #fff;
}

.messages {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialogsItems {
}
.messagesItems {
    background-color: blue;
}

.messageButton {
    width: 50px;
    height: 40px;
    border: none;
    background-color: rgba(0, 0, 200);
    color: #fff;
    margin-top: 10px;
    border-radius: 0px 10px 10px 0px;
}

.messageButton:hover {
    background-color: rgba(0, 0, 215);
    transition: 0.3s linear;
}

.messageTextarea {
    color: #fff;
    letter-spacing: 2px;
    background: rgba(0, 0, 142); /* Цвет фона */
    border: 1px solid rgba(0, 0, 200); /* Параметры рамки */
    padding: 10px; /* Поля */
    width: 100%; /* Ширина */
    height: 40px; /* Высота */
    box-sizing: border-box; /* Алгоритм расчёта ширины */
    font-size: 14px; /* Размер шрифта */
    resize: none;
    margin-top: 10px;
    border-radius: 15px 0px 0px 15px;
    height: 40px;
    padding: 10px;
}
