.dialogs {
    font-family: 'Orelega One', cursive;
    font-family: 'Pridi', serif;
    font-size: 18px;
    display: grid;
    grid-template-columns: 4fr 8fr;
    color: #fff;
}

.messages {
    background-color: blue;
}

.dialogs.active{
    background-color: #fff;
}