.nav {
    grid-area: n;
    background-color: rgb(0, 0, 142);
    box-shadow: 2px 0px 5px rgb(0, 0, 142);
}

.item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
}
.item a {
    margin-left: 10px;
    font-family: 'Orelega One', cursive;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
}

.item:hover {
    background-color: rgb(70, 70, 255);
    transition: 0.2s;
}
