.item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: #fff;
}

.item img {
    width: 50px;
    height: 50px;
    border-radius: 30px;
    margin: 10px;
}

button {
    font-size: 12px;
    cursor: pointer;
}

.post {
    background-color: rgb(0 0 200);
    font-size: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    border-radius: 15px 15px;
}

.likes {
    display: flex;
    justify-content: flex-end;
    margin-right: 15px;
}
