div textarea {
    width: 100%;
    resize: none;
    overflow: auto;
    outline: none;
    -moz-appearance: none;
    background-color: rgba(0, 0, 142);
    color: #fff;
    border: none;
}

textarea::placeholder {
    color: rgba(255, 255, 255, 0.3);
}
div {
    font-family: 'Orelega One', cursive;
    font-family: 'Pridi', serif;
}

.postsBlock {
    padding: 10px;
}

.newPost {
    display: flex;
    flex-direction: column;
}

button {
    height: 30px;
    border: none;
    background-color: rgba(0, 0, 200);
    color: #fff;
}

button:hover {
    background-color: rgba(0, 0, 215);
    transition: 0.3s linear;
}

.posts {
    margin-top: 10px;
}

.textArea {
    background-color: rgba(0, 0, 142);
}
.textareaCount {
    padding: 2px 10px;
    width: 100%;
    float: right;
    font-family: 'Orelega One', cursive;
    font-family: 'Pridi', serif;
    color: #fff;
    border: 1px solid rgba(0, 0, 100);
}
