div textarea {
    width: 100%;
    resize: none;
    overflow: auto;
    outline: none;
    -moz-appearance: none;
    background-color: rgba(0, 0, 142);
    color: #fff;
    border: none;
}

textarea::placeholder {
    color: rgba(255, 255, 255, 0.3);
}
div {
    font-family: 'Orelega One', cursive;
    font-family: 'Pridi', serif;
}
