.postArea {
    color: #fff;
    letter-spacing: 2px;
    background: rgba(0, 0, 142); /* Цвет фона */
    border: 1px solid rgba(0, 0, 200); /* Параметры рамки */
    padding: 10px; /* Поля */
    width: 100%; /* Ширина */
    height: 200px; /* Высота */
    box-sizing: border-box; /* Алгоритм расчёта ширины */
    font-size: 14px; /* Размер шрифта */
    resize: none;
    margin-top: 10px;
    border-radius: 15px 15px 0px 0px;
}

textarea::placeholder {
    color: rgba(255, 255, 255, 0.3);
}
div {
    font-family: 'Orelega One', cursive;
    font-family: 'Pridi', serif;
}

.postsBlock {
    padding: 10px;
}

.newPost {
    display: flex;
    flex-direction: column;
}

.postButton {
    height: 30px;
    border: none;
    background-color: rgba(0, 0, 200);
    color: #fff;
    border-radius: 0px 0px 10px 10px;
}

.postButton:hover {
    background-color: rgba(0, 0, 215);
    transition: 0.3s linear;
}

.posts {
    margin-top: 10px;
}
